html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #293133;
  font-family: "Lato", sans-serif;
}

#root {
  height: 100%;
  display: flex;
}

#drum-machine {
  max-width: 550px;
  margin: auto;
}

.drum-pad {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 5%;
  box-shadow: 3px 3px 20px;
  font-size: 25px;
}

#display {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 40px;
  font-size: 25px;
  background-color: white;
  box-shadow: 3px 3px 20px black;
}

#button-container {
  display: grid;
  grid-template: 33% 33% 33% / 33% 33% 33%;
  justify-items: center;
}

@media screen and (max-width: 400px) {
  .drum-pad {
    width: 75px;
    height: 75px;
    margin: 10px;
  }
}